.signupPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;

  .signupTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
