@use '../../styles/mixin';

.user_container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 500px;
  width: 500px;

  & .input_box {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & h4 {
      font-size: 14px;
      font-weight: 400;
    }

    & input {
      width: 200px;
      border-radius: 4px;
      height: 38px;
      border: 1px solid #667eea;
      padding: 10px;
      outline: none;
    }
  }

  .apple_button {
    width: 200px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #667eea;
    background: #fff;
    cursor: pointer;
    margin-top: 40px;
  }

  .application_waiting {
    @include mixin.flexCenter(column);
    gap: 14px;
    border: 1px solid #667eea;
    border-radius: 4px;
    padding: 40px;
  }

  & .mentor_info_section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & div {
      display: flex;
      gap: 12px;

      & span {
        font-weight: 500;
      }

      & p {
        color: #444;
        min-width: 100px;
      }
    }
  }
}
