@use '../styles/mixin';

.user_container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  max-width: 544px;
  max-height: 500px;

  & .user_image {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    @include mixin.flexCenter(row);
    position: relative;
    overflow: hidden;
  }

  & .user_info {
    display: flex;
    gap: 12px;
    align-items: center;

    & h5 {
      font-weight: 400;
      width: 100px;
      font-size: 14px;
      color: #918cdb;
    }

    & p {
      font-weight: 400;
      font-size: 14px;
    }
  }
}
