@use "../../../styles/mixin";

.search, .write, .send{
  width: 86%;
  border: 1px solid #eaecef;
  height: 42px;
  padding: 16px;
  border-radius: 8px;
  outline: none;
}

.write{
  width: 100%;
}

.send{
  border: 2px solid #667eea;
}