@use '../styles/mixin';

.chat_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 100%;
  min-height: 100vh;

  & .content_wrap {
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 40px;
  }

  & .chat_room_list {
    width: 35%;
    display: flex;
    flex-direction: column;
    background: rgba(102, 126, 234, 0.1);
    border-radius: 4px;
    overflow: hidden;

    & .chat_room_item {
      transition: 0.3s;

      &:hover {
        background: rgba(102, 126, 234, 0.3);
      }

      & button {
        width: 100%;
        display: flex;
        padding: 32px;
        align-items: center;
        background: none;
      }

      & .profile_image {
        width: 50px;
        height: 50px;
        background: #667eea;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
      }

      & .date_member {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: end;
      }

      & .chat_room_title {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        gap: 12px;
        flex: 1;
        align-items: start;

        & .title {
          font-size: 16px;
          font-weight: 600;
          display: flex;
          gap: 12px;
          align-items: center;
        }

        & .mentor_name {
          font-size: 16px;
          font-weight: 400;
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.chat_section {
  @include mixin.flexCenter(column);
  gap: 40px;
  width: 100%;
  max-width: 500px;

  & .not_select_chatRoom {
    background: rgba(102, 126, 234, 0.1);
    @include mixin.flexCenter(column);
    width: 100%;
    height: 100%;
  }

  & .section_title {
    display: flex;
    align-items: center;
    gap: 24px;

    & .right_chat_room_title {
      font-size: 16px;
      font-weight: 600;
      padding: 12px;
      height: auto;
      & span {
        font-weight: 600;
      }
    }
  }
}

.item_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 500px;
  overflow-y: scroll;
  min-width: 500px;

  & .chat_item {
    display: flex;
    flex-direction: column;
    background: rgba(102, 126, 234, 0.1);

    padding: 20px;
    border-radius: 12px;

    &.my_chat {
      background: rgba(237, 108, 2, 0.1);
    }

    & .content_top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;

      & .chat_title {
        @include mixin.flexCenter(row);
        gap: 8px;

        & .profile_image {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: burlywood;
          position: relative;
          overflow: hidden;
        }

        & .chat_name {
          font-weight: 600;
          font-size: 14px;
        }

        & .chat_bedge {
          padding: 3px 8px;
          background: #667eea;
          color: #fff;
          display: inline-block;
          @include mixin.flexCenter(row);
          border-radius: 4px;
          font-size: 12px;
        }
      }

      & .date {
        color: #555;
        font-size: 12px;
      }
    }

    & .content_bottom {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      border-radius: 8px;
      align-items: start;

      & .chat_type {
        @include mixin.flexCenter(row);
        padding: 2px 4px;
        background: #667eea;
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
      }

      & .chat_content {
        padding: 8px;
        border-radius: 8px;
        font-size: 14px;
      }

      & .content_bottom_title {
        display: flex;
        gap: 12px;

        & button {
          @include mixin.flexCenter(row);
          padding: 2px 4px;
          color: #667eea;
          border: 1px solid #667eea;
          border-radius: 4px;
          font-size: 12px;
          background: #fff;
        }
      }
    }
  }
}

.chat_enter {
  display: flex;
  width: 100%;
  position: relative;
  gap: 8px;
  flex-direction: column;
  align-items: end;

  & .submit_button {
    width: 40px;
    height: 33px;
    background: #ededed;
    color: #333;
  }

  & .text_field {
    border-radius: 4px;
  }
}

.not_found_data {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  & h3 {
    margin-bottom: 12px;
  }

  & h4 {
    margin-bottom: 8px;
  }

  & .mentor_move_button {
    margin-bottom: 30px;
  }
}
