@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: #A06BF7;
}

.all {
    background-color: #A06BF7;
}

.header_logo {
    font-family: 'SBAggroB';
    color: white;
    font-size: 40px;
    margin-left: 45%;
}

.header {
    display: flex;
    margin-top: 2%;
}

.chatroom_title_div {
    display: grid;
    margin-left:30%;
    text-align: center;
}

.chatroom_title,
.chatroom_mentor_title {
    color: white;
}

.join_number {
    border-radius: 5px;
    background-color: rgb(255,255,255,0.5);
    margin-left: auto;
    padding: 4px 20px 4px 20px;
    display: flex;
    align-items: center;
    margin-right: 2%;

}

.join_number_p {
    color: white;
}

.main {
    background-color: white;
    margin-top: 15px;
    margin-left: 37%;
    margin-right: 37%;
    border-radius: 10px;
    padding-bottom: 5%;
}

.create_room_title {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.create_room_description {
    text-align: center;
    padding-top: 10px;
}

.check_box_div {
    margin-left: 10%;
    margin-top: 15px;
    font-size: 13px;
}

.create_textarea {
    resize: none;
    width: 79%;
    margin-left: 10%;
    margin-top: 15px;
    background-color: #FAFAFA;
    border-radius: 8px;
    border-width: 1;
}

.create_room_option {
    padding-left: 10%;
    padding-top: 10px;
}

.form_style {
    margin-left: 10%;
    margin-top: 10px;
    width: 79%;
    height: 40px;
    border-radius: 8px;
    border-width: 1;
    background-color: #FAFAFA;
}

.submit_button {
    width: 78%;
    height: 40px;
    margin-left: 10%;
    margin-top: 4%;
    background-color: #D1D5DC;
    border-radius: 5px;
    border-width: 0;
}

.submit_button_p {
    color: white;
    font-weight: bold;
}

.max_num_div {
    display: flex;
    margin-top: 15px;
}

.small_form_style {
    width: 27%;
    border-radius: 8px;
    border-width: 1;
    margin-left: 20%;
    margin-top: 5px;
    padding-bottom: 3%;
    background-color: #FAFAFA;
}