@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: #A06BF7;
}

.all {
    background-color: #A06BF7;
}

.headerLogo {
    font-family: 'SBAggroB';
    color: white;
    font-size: 40px;
    margin-left: 45%;
}

.header {
    display: flex;
    margin-top: 2%;
}

.chatroomTitleDiv {
    display: grid;
    margin-left:30%;
    text-align: center;
}

.chatroomTitle,
.chatroomMentorTitle {
    color: white;
}

.joinNumber {
    border-radius: 5px;
    background-color: rgb(255,255,255,0.5);
    margin-left: auto;
    padding: 4px 20px 4px 20px;
    display: flex;
    align-items: center;
    margin-right: 2%;

}

.joinNumberP {
    color: white;
}

.main {
    background-color: white;
    margin-top: 15px;
    margin-left: 37%;
    margin-right: 37%;
    border-radius: 10px;
    padding-bottom: 5%;
}

.createRoomTitle {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.createRoomDescription {
    text-align: center;
    padding-top: 10px;
}

.checkBoxDiv {
    margin-left: 10%;
    margin-top: 15px;
    font-size: 13px;
}

.createTextarea {
    resize: none;
    width: 79%;
    margin-left: 10%;
    margin-top: 15px;
    background-color: #FAFAFA;
    border-radius: 8px;
    border-width: 1;
}

.createRoomOption {
    padding-left: 10%;
    padding-top: 10px;
}

.formStyle {
    margin-left: 10%;
    margin-top: 10px;
    width: 79%;
    height: 40px;
    border-radius: 8px;
    border-width: 1;
    background-color: #FAFAFA;
}

.submitButton {
    width: 78%;
    height: 40px;
    margin-left: 10%;
    margin-top: 4%;
    background-color: #D1D5DC;
    border-radius: 5px;
    border-width: 0;
}

.submitButtonP {
    color: white;
    font-weight: bold;
}

.maxNumDiv {
    display: flex;
    margin-top: 15px;
}

.smallFormStyle {
    width: 27%;
    border-radius: 8px;
    border-width: 1;
    margin-left: 20%;
    margin-top: 5px;
    padding-bottom: 3%;
    background-color: #FAFAFA;
}