@use "../styles/mixin";

.container{
  @include mixin.flexCenter(row);
  width: 100%;
  padding: 0 20px;

  &_content{
    @include mixin.flexCenter(row);
    align-items: flex-start;
    gap: 80px;

    max-width: 1440px;
    padding: 10px 20px 0 20px;
    margin-bottom: 100px;

    &_left{
      width:1000px;
      box-shadow: 0 3px 3px rgba(0,0,0,0.2);

      &_top{
        @include mixin.flexCenter(column);
        background-color: red;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-image: linear-gradient(90deg, #6876e0 30%, #7354ad 60%);
        color: #fff;
        height: 160px;

        h1{
          font-size: 2.2rem;
          font-weight: bold;
          margin-bottom: 10px;
        }

        sub{
          font-weight: 300;
        }
      }

      &_bottom{
        position: relative;
      }

    }

    &_right{
      @include mixin.flexCenter(column);
      justify-content: flex-start;
      gap: 14px;

      width: 280px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      padding: 10px;
    }
  }
}

.search_box{
  background-color: #f8f9fa;
  height: 200px;
  padding: 20px 20px;

  &_top{
    @include mixin.flexCenter(row);
    justify-content: space-between;
  }

  &_middle{
    @include mixin.flexCenter(row);
    justify-content: space-between;
    margin-top: 20px;
  }

  &_bottom{
    @include mixin.flexCenter(row);
    justify-content: normal;
    margin-top: 30px;
    gap: 10px;
  }

  >span{
    font-size: 1.02rem;
    font-weight: 400;
  }

  &_total_question{
    font-weight: bold !important;
  }
}

.question_box{
}

.question_title{
  margin-bottom: 3px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 960px;
}

.question{
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  height: 174px;

  &_title{
    font-weight: bold;
  }

  &_sub_box{
    margin-top: 10px;
    margin-bottom: 10px;
    span{
      color: #696969;
      font-size: 14px;
      font-weight: bold;
      margin-right: 20px;

      >span{
        font-weight: 400;
        margin-left: 4px;
      }
    }
  }

  .content{
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #a5a5a5;
    font-size: 14px;
  }

  &_bottom{
    @include mixin.flexCenter(row);
    justify-content: space-between;

    .profile_box{
      @include mixin.flexCenter(row);
      gap: 10px;
      .nickname{
        color: #8e8e8e;
        font-size: 13px;
      }
    }


    .date{
      color: #8e8e8e;
      font-size: 13px;
    }
  }
}

.question:nth-child(2n-1){
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
}

.question:last-child{
  border-bottom: none;
}

.button_container{
  padding-top: 20px;
  position: absolute;
  width: 100%;
  @include mixin.flexCenter(row);
}
