@use '../../../styles/mixin';

.footer {
  width: 100%;
  min-height: 180px;
  height: 100%;
  @include mixin.flexCenter(column);
  background: #1a1a1a;
  padding: 30px 0;

  &_content {
    max-width: 1440px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .logo {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & h1 {
        color: #667eea;
        font-weight: 900;
      }

      & p {
        color: #ccc;
        font-size: 14px;
        line-height: 1.6;
      }
    }

    & .footer_nav {
      display: flex;
      gap: 8px;

      & a {
        font-size: 14px;
        color: #ccc;
      }
    }
  }

  & .copyright {
    max-width: 1440px;

    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
  }
}
