@use "../../../styles/mixin";

.blank_img{
  @include mixin.flexCenter(row);
  width: 34px;
  height: 34px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(90deg, #6876e0 30%, #7354ad 60%);
}

.user_profile{
  border-radius: 34px;
  border: 2px solid #a9a9a9;
}