@use '../../../styles/mixin';

.review_modal_section {
  @include mixin.positionCenter(absolute);
  @include mixin.flexCenter(column);
  padding: 40px 60px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  & .rating_box {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }

  & h2 {
    margin-bottom: 20px;
  }

  & textarea {
    border: 1px solid #667eea;
    border-radius: 4px;
    min-width: 300px;
    height: 150px;
    padding: 10px;
    margin-bottom: 30px;
  }

  & .button_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;

    & .approve {
      width: 55%;
      height: 100%;
      background: #667eea;
      color: #fff;
      border-radius: 4px;
    }

    & .cancel {
      width: 40%;
      height: 100%;
      border: 1px solid #666;
      background: #fff;
      border-radius: 4px;
    }
  }
}
