.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding-top: 5%;

  .loginFormLabel {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    width: 70%;
  }

  .loginFormItem {
    width: 70%;
    height: 5.5vh;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid lightgray;

    &::placeholder {
      color: gray;
    }
  }

  .loginButton {
    width: 70%;
    height: 5.5vh;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    background-color: #6b70d6;
    color: white;
    margin-top: 5%;
    cursor: pointer;
  }

  .loginFormCheckbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
    height: 5.5vh;
    padding: 10px;
  }

  .loginFormCheckboxItem {
    display: flex;
    gap: 10px;
  }

  span {
    margin-top: auto;
    margin-bottom: 20%;
    font-size: 1.125rem;
  }

  a {
    font-weight: 400;
    color: blue;
  }
}
