@use "../../styles/mixin";

.container{
  @include mixin.flexCenter(column);
  width: 100%;
  min-width: 1000px;
  padding: 0 20px;
  height: 174px;

  border-top: 1px solid #dddfe2;

  h2{
    margin-bottom: 10px;
    font-weight: bold;
  }
}