@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #A06BF7;
    margin: 0 auto;
}

.all {
    background-color: #A06BF7;
}

.headerLogo {
    font-family: 'SBAggroB';
    color: white;
    font-size: 40px;
    margin-left: 2%;
}

.header {
    display: flex;
    margin-top: 2%;
}

.chatroomTitleDiv {
    display: grid;
    margin-left: 30%;
    text-align: center;
}

.chatroomTitle,
.chatroomMentorTitle {
    color: white;
}

.joinNumber {
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.5);
    margin-left: auto;
    padding: 4px 20px 4px 20px;
    display: flex;
    align-items: center;
    margin-right: 2%;

}

.joinNumberP {
    color: white;
}

.headerButton1 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #B070F9;
    margin-left: 1100px;
    margin-right: 20px;
}

.headerButton2 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #B070F9;
}

.main {
    background-color: white;
    padding-bottom: 10%;
    max-height: 453px;
    overflow-y: scroll;
}

.recentChat {
    margin-top: 15px;
    background-color: #F9FAFB;
    height: 50px;
    border: 1px solid black;
    width: 50%;
}

.recentChatH {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 30px;
    width: 100%;
    border:1px solid black;
}

.recentChatHDiv {
    display: flex;
}

.bottom {
    background-color: #F5F7FF;
    display: flex;
    padding-bottom: 1%;
    border: 1px solid black;
}

.bottomBox {
    background-color: white;
    width: 42%;
    margin-top: 2%;
    margin-left: 5.5%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    height: 130px;
}

.bottomNum {
    font-weight: bold;
    padding-top: 25px;
    color: #8B5CF6;
}


.roomButtons {
    width: 100%;
    height: 91px;
    background-color: white;
    border: 0.5px solid gray;
}

.roomTitle {
    text-align: left;
}

.mentorInfo2 {
    display:flex;
    margin-left: 4%;
}

.mentorCompany {
    background-color: #F3EFFE;
    border-radius: 10px;
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    color: #9469F7;
}

.roomDescription {
    text-align: left;
    color: gray;
    margin-left: 4%;
}

.roomDiv {
    width: 50%;
}