@use '../../../styles/mixin';

.chat_item {
  display: flex;
  flex-direction: column;
  background: rgba(102, 126, 234, 0.1);

  padding: 20px;
  border-radius: 12px;

  &.my_chat {
    background: rgba(237, 108, 2, 0.1);
  }

  & .content_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    & .chat_title {
      @include mixin.flexCenter(row);
      gap: 8px;

      & .profile_image {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: burlywood;
        position: relative;
        overflow: hidden;
      }

      & .chat_name {
        font-weight: 600;
        font-size: 14px;
      }

      & .chat_bedge {
        padding: 3px 8px;
        background: #667eea;
        color: #fff;
        display: inline-block;
        @include mixin.flexCenter(row);
        border-radius: 4px;
        font-size: 12px;
      }
    }

    & .date {
      color: #555;
      font-size: 12px;
    }
  }

  & .content_bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    align-items: start;

    & .chat_type {
      @include mixin.flexCenter(row);
      padding: 2px 4px;
      background: #667eea;
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }

    & .chat_content {
      padding: 8px;
      border-radius: 8px;
      font-size: 14px;
    }

    & .content_bottom_title {
      display: flex;
      gap: 12px;

      & button {
        @include mixin.flexCenter(row);
        padding: 2px 4px;
        color: #667eea;
        border: 1px solid #667eea;
        border-radius: 4px;
        font-size: 12px;
        background: #fff;
      }
    }
  }
}
