@use '../../../styles/mixin';

.ask {
  @include mixin.customButton();
  @include mixin.flexCenter(row);
  background-image: linear-gradient(40deg, #6876e0 40%, #7354ad 80%);

  > .icon {
    margin-right: 3px;
    font-size: 14px;
  }

  > .text {
    font-size: 15px;
  }
}

.search {
  @include mixin.customButton(60px, 30px);
  @include mixin.flexCenter(row);
  border: 2px solid #667eea;
  color: #667eea;
  padding: 3px 4px;

  > .icon {
    margin-right: 3px;
    font-size: 14px;
  }

  > .text {
    font-size: 14px;
    font-weight: bold;
  }
}

.tag {
  @include mixin.customButton(60px, 30px);
  border: 2px solid #eaecef;
  background-color: #fff;
  color: #414141;
  padding: 3px 4px;
  text-align: center;
  font-size: 14px;

  &.active {
    background: linear-gradient(40deg, #6876e0 40%, #7354ad 80%);
    color: #fff;
    border: 2px solid #6c6cd0;
    transform: none;
  }
}

.submit {
  width: 100%;
  margin-top: 5%;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
  pointer-events: none;
}

.pagination {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #eaecef;
  cursor: pointer;
}

.focus {
  background-image: linear-gradient(90deg, #6876e0 30%, #7354ad 60%);
  color: #fff;
}


.write_non_disabled, .write_disabled{
  width: 100%;
  background-color: #ccc;
  height: 50px;
  border-radius: 6px;
  font-size: 19px;
  margin-bottom: 20px;
  span{
    font-weight: bold;
  }
}

.write_non_disabled{
  background-image: linear-gradient(90deg, #6876e0 30%, #7354ad 60%);
  color: #fff;
}


.choose{
  max-width: 200px;
  height: 32px;
  padding: 5px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #6876e0 30%, #7354ad 60%);
  > .text {
    font-weight: bold;
    color: #fff;
  }
}