@use '../../../styles/mixin';

.header {
  @include mixin.flexCenter(row);
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &_container {
    max-width: 1440px;
    padding: 0 20px;
    width: 100%;
    @include mixin.flexCenter(row);
  }

  &_nav {
    flex: 1;
    gap: 24px;
    font-size: 14px;
    @include mixin.flexCenter(row);

    & a:hover {
      color: #667eea;
      transition: 0.3s;
      font-weight: bold;
    }
  }

  .logo {
    width: 100px;
    height: 100%;
    @include mixin.flexCenter(row);

    & a {
      color: #667eea;
      font-weight: 900;
      font-size: 20px;
    }
  }

  .user_nav {
    @include mixin.flexCenter(row);
    gap: 16px;

    & a {
      font-size: 14px;
    }

    & .button {
      padding: 8px 16px;
      border-radius: 8px;
      max-height: 35px;
      @include mixin.flexCenter(row);
    }

    & .login {
      border: 1px solid #667eea;
      color: #667eea;
      background-color: #fff;
    }

    & .signup {
      background-color: #667eea;
      color: #fff;
    }

    & .mypage_section {
      display: flex;
      gap: 12px;
    }
  }
}

.alarm_section {
  @include mixin.positionCenter(absolute);
  border-radius: 8px;
  background: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .alarm_item {
    font-size: 16px;
    display: flex;
    gap: 12px;

    &_title {
      font-size: 16px;
      font-weight: bold;
      min-width: 200px;
    }

    &_date {
      font-size: 16px;
      color: #555;
    }
  }
}
